<form method="post" action="/party/new">
    <label for="title-input" class="block mar-b-1">Название вечеринки</label>
    <input name="name" type="text" value="" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

    <label for="title-input" class="block mar-b-1">Место вечеринки</label>
    <input name="location" type="text" value="" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

    <label for="title-input" class="block mar-b-1">Время начала:</label>
    <input name="time" type="datetime-local" value="" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

    <button class="btn waves-effect waves-light" type="submit" name="action">Send
    </button>
</form>